nav {
  width: 100%;
  height: 12vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}
.topimage {
  display: flex;
  height: 50vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.topimage img {
  height: 50vh;
  margin: auto;
  width: 90%;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
nav img {
  width: 20vw;
  height: 10vh;
  margin-top: 1vh;
  margin-left: 2vw;
}
#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
i{
  font-size: 1.5rem;
  color:#019578;
}
.reset{
  background: none;
  border: none;
  font-size: 18px;
  padding:10px 25px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  margin-left:1vw;
  font-family: 'Poppins', Helvetica, sans-serif;
  /* transition: all 0.2s ease-in; */
}
.reset:hover{
  border: 0.7px solid #149ddd;
  color: white;
  background: #0156c57a;
}
#links ul {
  display: flex;
  flex-direction: row;
  width: 60vw;
  list-style: none;
  justify-content: space-around;
}
.flexit {
  display: flex;
}
#links ul li {
  cursor: pointer;
  font-weight: 600;
  font-size: 4vh;
}
@-moz-document url-prefix() {
  /* Disable scrollbar Firefox */
  html {
    scrollbar-width: none;
  }
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
  overflow-x: hidden;
}
#links ul li:hover {
  border-bottom: 2px solid #149ddd;
  transition: all 0.5 ease-in-out;
}
.whole {
  background: linear-gradient(to right, #3a1c71, #d76dd2, #ffaf7b);
  width: 100%;
  min-height: 100vh;
}
.whole h1 {
  margin-left: 15vw;
  padding-top: 2vh;
  color:white;
  font-size: 6vh;
  margin-bottom: 4vh;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: rgb(0, 0, 0);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
.hamburger {
  /* border-radius: 50%; */
  /* background: #149ddd; */
  display: none;
  position: absolute;
  right: 2px;
}
.main {
  width: 70vw;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  position: relative;
  left: 15vw;
  right: 15vw;
}
.submit {
  margin-top: 2vh;
  margin-left: 25vh;
  background: #404040;
  padding: 10px 45px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-family: "Poppins", Helvetica, sans-serif;
}
.submit:hover {
  background: #dc3445;
}
.blocktype {
  padding: 15px;
}
.styleit {
  width: 49vw;
  height: 25px;
  border: 0.5px solid #807f7f59;
  border-top: none;
  border-left: none;
  border-right: none;
}
.entrytype {
  font-size: 2.6vh;
  width: 16vw;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .topimage {
    display: flex;
    height: 25vh;
  }
  .topimage img {
    height: 25vh;
    margin: auto;
    width: 90vw;
  }
  .main {
    width: 90vw;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    position: relative;
    left: 4vw;
    right: 4vw;
  }
  nav img {
    width: 30vw;
    height: 7vh;
    margin-top: 0.5vh;
    margin-left: 2vw;
  }
  nav {
    width: 100%;
    height: 8vh;
    background-color: rgb(255, 255, 255);
  }
  #links {
    display: none;
  }
  .hamburger {
    transform: scale(0.4);
    display: block;
    right: 2px;
  }
  .blocktype {
    padding: 15px;
  }
  .flexit {
    flex-direction: column;
  }
  .whole h1 {
    padding-top: 1vh;
    color: white;
    margin-left: 4vw;
    margin-bottom: 2vh;
    font-size: 4.2vh;
  }
  .styleit {
    width: 80vw;
    height: 25px;
    border: 0.5px solid #807f7f59;
    border-top: none;
  border-left: none;
  border-right: none;
  }
  textarea,
  input {
    outline: none;
    font-size: 2vh;
    color: #1abc9c;
    font-weight: 600;
    font-family: 'Poppins';
  }
  .entrytype {
    font-size: 2vh;
    width: 70vw;
    padding-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: 500;
  }
  .submit {
    margin-top: 2vh;
    margin-left: 2vw;
    background: #404040;
    padding: 10px ;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-family: "Poppins", Helvetica, sans-serif;
  }
  
}
textarea,
input {
  outline: none;
  font-size: 2.6vh;
  color: #1abc9c;
  font-weight: 600;
  font-family: 'Poppins';
}
@media screen and (max-width: 1024px) and (max-height: 1366px) and (min-width: 1024px) {
  .topimage {
    display: flex;
    height: 40vh;
  }
  .topimage img {
    height: 40vh;
    margin: auto;
    width: 100%;
  }
  .whole h1 {
    padding-top: 2vh;
    color: white;
    margin-left: 4vw;
    margin-bottom: 2vh;
  }
  .main {
    width: 92vw;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    position: relative;
    left: 4vw;
    right: 4vw;
  }
  .entrytype {
    font-size: 2vh;
    width: 35vw;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    color: #ff7f50;
  }
  textarea,
  input {
    outline: none;
    font-size: 2vh;
    color: #1abc9c;
    font-weight: 600;
    font-family: 'Poppins';
  }
  .submit {
    margin-top: 2vh;
    margin-left: 2vw;
    background: #404040;
    padding: 10px 45px;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-family: "Poppins", Helvetica, sans-serif;
  }
}
